<html>
  <head>
    <title>ngInputFile example</title>
    <meta name="viewport" content="
        width = device-width ,
        height = device-height ,
        user-scalable = no ,
        initial-scale = 1.0 ,
        maximum-scale = 1.0 ,
        minimum-scale = 1.0
        ">
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
      integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
      crossorigin="anonymous">
    <script src="/bower_components/angular/angular.js"></script>
    <script src="/scripts/ng-input-file.js"></script>
    <script src="/scripts/app.js"></script>
  </head>
  <body
    ng-app="exampleApp"
    ng-controller="ExampleCtrl">
    
    <div class="container">
      <h1>ngInputFile Example</h1>

      <div class="row">
        <div class="col-sm-4">

          <div class="form-group">
            <label
              for="files"
              style="cursor:pointer;"
              class="btn btn-block btn-primary">
                <span ng-if="!files.length">Choose Files</span>
                <span ng-if="files.length === 1">{{ files[0].name }}</span>
                <span ng-if="files.length > 1">{{ files.length }} files</span>
              </label>
            <input
              id="files"
              class="hidden"
              placeholder="Select Files"
              type="file"
              ng-model="files"
              multiple>
          </div>

          <div
            class="form-group"
            ng-show="files.length > 0">
            <select
              class="form-control"
              multiple
              ng-model="selectedFiles"
              ng-options="file.name for file in files">
            </select>
          </div>
          
        </div>
        <div class="col-sm-8">
          <div class="list-group">
            <div
              class="list-group-item"
              ng-repeat="file in selectedFiles">
              <p class="list-group-item-text pull-right">
                {{ ::file.updatedAt | date }}
              </p>
              <h4 class="list-group-item-heading">
                {{ ::file.type }}
              </h4>
              <p class="list-group-item-text">
                {{ ::file.name }}
              </p>
              <div ng-switch="displayType(file.type)">
                <img
                  ng-switch-when="image"
                  class="img-responsive"
                  alt="{{ file.name }}"
                  ng-src="data:{{ file.type }};base64,{{ file.body }}">
                <div
                  ng-switch-when="html"
                  ng-bind-html-unsafe="{{ file.type }}">
                </div>
                <pre ng-switch-when="json">{{ file.body | json }}</pre>
                <pre ng-switch-default>Unknown File-Type</pre>
              </div>
            </div>
          </div>



        </div>
      </div>
      
      
    </div>

  </body>
</html>